<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastre-se</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Analitec</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="QuemSomos.html">Quem somos</a></li>
      <li><a href="Contato.html">Contato</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="cadastro.html"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
 </div>
</nav>
<div class="cadastro_">
	<center><h1>Cadastre-se e comece a usar!</h1></center>
	
	<br /><br />

	<center><form name="formulario" id="formulario_cadastro" action="" method="post">
		<label>Nome: </label> <input type="text" name="nome" value="Digite seu nome completo" size="45" maxlength="150" /><br /> 
		<label>E-mail: </label> <input type="text" name="email" value="Digite seu e-mail" size="45" maxlength="150" /> <br />
		<label>Repita seu e-mail: </label> <input type="text" name="email2" value="Digite seu e-mail novamente" size="34" maxlength="150" /><br />
		<label>Senha </label> <input type="password" name="senha" value="Digite sua senha" size="45" maxlength="150" /><br />
		<label>Repita sua senha: </label> <input type="password" name="senha2" value="Repita sua senha" size="34" maxlength="150" /><br /><br />
		<input type="submit" name="botao-cadastrar" value="Cadastrar">
		<input type="reset" name="botao-apagar" value="Apagar">
   </form></center>



</div>
 </body>
</html>