<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Contato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/CSS" href="estilogeral.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Analitec</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="QuemSomos.html">Quem somos</a></li>
      <li><a href="Contato.html">Contato</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="cadastro.html"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  </div>
</nav>

<div class="corpo">
	<center><h2>Contato</h2></center>
</div>
<div class="corpo_principal">
	<br /><br />
	<p>Alameda Riacho Alto, 503<br /> Bairro Rio Negro - Porto Alegre - RS <br /> CEP:69918-662
	<br /><br />
	
	<p>+55 51 2208-0709
	<br />
	<p>contato@analitec.com.br
	
</div>
<div class="formulario">
	<br /><br />

<form name="formulario" id="formulario_contato" action="" method="post">
		<label>Nome: </label> <input type="text" name="nome" value="Digite seu nome completo" size="40" maxlength="150" /> 
		<label>E-mail: </label> <input type="text" name="email" value="Digite seu e-mail" size="45" maxlength="150" /> <br /><br />
		<label>Telefone: </label> <input type="text" name="telefone" value="Digite seu número de telefone" size="34" maxlength="150" />
		<label>Assunto: </label> <input type="text" name="assunto" value="Digite o assunto" size="46" maxlength="150" /><br /><br />
		<label>Mensagem: </label> <input type="text" name="mensagem" value="" style="height:60px" size="93" maxlength="500" /><br /><br />
		<input type="submit" name="botao-enviar" value="Enviar">
		<input type="reset" name="botao-apagar" value="Apagar">
   </form>



</div>

</body>
</html>















