<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Quem Somos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Analitec</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="QuemSomos.html">Quem somos</a></li>
      <li><a href="Contato.html">Contato</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="cadastro.html"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="testando">
	
	<center><h1>Sobre a Analitec</h1><br />
	<img src="img/quemsomos1.jpg" height="500" width="1000"></img>
	<br /><br />
	<div class="texto" style="font-size: large">
	<p font-size="25px">A Analitec originou-se da ideia de fornecer ao usuário uma ferramenta para análise de dados de fácil uso e compreensão. Nossa equipe <br />é composta por pessoas especializadas em análise e ciência de dados com um alto nível de comprometimento e profissionalismo.<br />
    Trabalhamos sob os principios de honestidade para com os dados de nossos clientes, inovação para tornar a ferramenta cada vez melhor, <br />um suporte de qualidade para a solução de problemas rapidamente,
	e garantir um serviço satisfatório.</p>
	</div>
</div>


</body>
</html>