/* PAPEL DE PAREDE */
body{
	
}
/* ESTILOS CONTATO */
h2{
	font-family: Georgia;
	font-size:100px;
	
}


.corpo_principal{
	text-align: center;
	font-family: verdana;
	font-size: large;
}

.formulario{
	text-align:center;
}